<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Dev Skills </h1>
    <p>Welcome to Eric's Dev Skills Page</p>
  </body>
</html>
