<!DOCTYPE html>
<html>
  <head>
    <title> Eric's Developer Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Eric's Developer Skills</h1>
    <p>Welcome to my Dev Skills page</p>
  </body>
</html>
