<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eric's Dev Skills</title>
</head>
<body>
    Eric's Dev Skills: <br>
        <li>
             Here is the skill:<br><br>
                 ID: <%= devSkills_obj.id %><br>
                 Skill: <%= devSkills_obj.skill %><br>
                 Level: <%= devSkills_obj.level %>
        </li>
    <a href="/skills/new">Add a skill</a>
</body>
</html>