<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='../css/style.css'>
  </head>
  <body>
    <h1>Welcome to Blamazon!</h1>
    <h3>your pirated music source</h3>
  <p>
  <li></li>
    <%= myname %> <%= myartist %>
    <p>--------------------</p>
  </li>
  </p>
  </body>
</html>