<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
        content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>First Express</title>
</head>
<body>
    <h1>Welcome To Amazon.com</h1>
   
        <form method="POST" action="/handle_form">
        <input id="input1">
       
        <button type="submit" width: 100px></button>
        <p>this is a paragraph</p> 
        </form>
</body>
</html>