<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Welcome to Groceries</p>
    <% console.log(groceries) %>
    <p> fruit </p>
    <p> grains </p>
    <p> veggies </p>
  </body>
</html>