<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Youtube</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Videos</h1>
    <h3> Today's Hotlist</h3>
  <%= videoName %>
  </body>
</html>
